<h1 class="mt-5">Add products {{name}}</h1>
<hr>
<form [formGroup]="myForm">
  <div class="row g-3 align-item-center mb-3">
    <div class="col-auto">
      <label class="col-form-label">Name:</label>
    </div>
    <div class="col-auto">
      <input class="form-control" type="text" name="name" formControlName="name">
    </div>
    <div class="col-auto">
      <span ccRequiredField [valid]="haveText('name')" [color]="color" [message]="name"></span>
    </div>
    <!-- No sending params-->
    <div class="col-auto">
      <span ccRequiredField [valid]="haveText('name')"></span>
    </div>

    <div class="row mt-3">
      <div class="col">
        <button class="btn btn-primary m-2" (click)="changeName()">Change Name</button>
        <button class="btn btn-warning" (click)="changeColor()">Change Color</button>
      </div>
    </div>

  </div>
</form>

<div class="row mt-3" *ccIfDirective="myForm.valid">
  <div class="col">
    <div class="alert alert-success">Perfect!</div>
  </div>
</div>

<h1 class="mt-5" ccRequiredField color="Green">Form</h1>
<pre>Valid:{{myForm.value | json}}</pre>
<pre>Valid:{{myForm.valid}}</pre>
